MONGODB_URI=
JWT_SECRET=123
NODE_ENV=development
TMDB_API_KEY=
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p/w500
REACT_APP_CLERK_PUBLISHABLE_KEY=
PORT=4000